<div class="jumbotron text-center">
    <h2 class='text-center'>{{title}}</h2>
    <p class='lead'>This is a adding Video ideas for
        youtube using node,express and handlebars.</p>
    <a href="/ideas/add" class="btn btn-dark btn-lg">Add Video Ideas</a>
</div>